.feynman {
  background: #f2f2f2 url(../../images/feynman.png) bottom left/867px 637px no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
}